---
title: "Data manipulation with Pandas"
execute:
  warning: false
  error: false
format:
  html:
    toc: true
    toc-location: right
    code-fold: show
    code-tools: true
    number-sections: true
    code-block-bg: true
    code-block-border-left: "#31BAE9"
---

![](images/Pandas_logo.svg.png){width="600"}

In [ ]:
import sys
print(sys.version)

In [ ]:
import pandas as pd
print('pandas version', pd.__version__)

## Reading from parquet

In [ ]:
df = pd.read_parquet("data/Combined_Flights_2022.parquet")

## get first 3 rows

In [ ]:
df.head(3)

## get last 3 rows

In [ ]:
df.tail(3)

## get ramdon 5 rows

In [ ]:
df.sample(5, random_state=42)

## get columns names

In [ ]:
df.columns

## get row index

In [ ]:
df.index

## get long info

In [ ]:
df.info()

## get short info

In [ ]:
df.info(verbose=False)

## summary of numeric column

In [ ]:
df.describe()

## summary of categorical column

In [ ]:
df[["Airline"]].describe()

## selct column

In [ ]:
df['FlightDate','Airline']

In [ ]:
df.columns

# Reference:

https://www.youtube.com/watch?v=DkjCaAMBGWM

https://www.youtube.com/watch?v=_gaAoJBMJ_Q

https://pandas.pydata.org/

https://www.kaggle.com/code/lizhecheng/pandas-2-0-1-tutorial/notebook